.count {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#FFD369;
    ; /* Yellow number color */
}
  
.counter-wrapper {
    position: relative;
    text-align: center;
}
  
.counter-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}
  
.counter-inner {
    position: relative;
    z-index: 2;
}
  
.count-icon {
    font-size: 48px;
    color: black !important; /* Black icon color */
    margin-bottom: 10px;
}
  
.py-5.text-center div:last-child {
    margin-top: 15px;
    font-size: 16px;
}
